@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scale { 
  100% { 
      transform:scale(0.8); 
  } 
}

.App {
  text-align: center;
  background-color: #fff;
  background-image: url("../../images/romsey.png");
  background-position: bottom;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
